<div id="compnay_search" class="col-md-4 col-md-offset-4">
<h1 class="col-md-offset-1" >Company search</h1><br>
<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-10 col-md-offset-1">
    <%= f.text_field :name, :placeholder =>" Enter company name", input_html: {class: ''} %>
    <%= f.submit "Get Orgnr",class: "", id:"get_orgnr" %>
  </div>

  <br><br>
<% end %>
</div>